[Unit]
Description=API Service
After=network.target docker.service
Wants=docker.service
After=docker.service

[Service]
Type=simple
User=root
Group=root
WorkingDirectory=/root/ah-ad-miner-backend
ExecStart=/root/ah-ad-miner-backend/bin/api -env /root/ah-ad-miner-backend/.env
Restart=always
RestartSec=5
StartLimitInterval=60s
StartLimitBurst=3

Environment=PATH=/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/usr/local/aws-cli/v2/current/bin:/snap/bin
# EnvironmentFile=/root/ah-ad-miner-backend/.env

# Logging
StandardOutput=journal
StandardError=journal
SyslogIdentifier=api-service

[Install]
WantedBy=multi-user.target
